<!-- body -->
@model (Ecomerece_Web.Data.Product product, List<Ecomerece_Web.Data.Product> rankList)
<div class="PageLayout_PageAlignment">
    @await Component.InvokeAsync("Product", new { product = Model.product, type = "cover" })
    @await Component.InvokeAsync("ProductCarousel", Model.product)
    <div class="ModuleSection ProductsYouMayLike_Wrapper">
        <div class="ModuleSectionHeader_Wrapper">
            <h3 class="ModuleSectionTitle">Top 20 Trending</h3>
            <a class="ButtonLink_Button ModuleSectionHeader_DesktopButton" href="#"><span>See All</span></a>
        </div>
        <div class="container" style="max-width: 100%;">
            @for (int i = 1; i <= Model.rankList.Count; i++)
            {
                if (i == 0 || i % 4 == 0)
                {
                    @Html.Raw("<div class='row'>");
                }
                @await Component.InvokeAsync("Product", new { product = Model.rankList.ElementAt(i - 1), type = "Ranking", rank = i });
                if (i % 4 == 0 || i == Model.rankList.Count)
                {
                    @Html.Raw("</div>");
                }
            }

        </div>
    </div>
    <div class="align-center-justify-center full-width" style="height: 90px;">
        <p onclick="backToTop()" class="plainmedium10caps  underline-hover pointer" style="margin: 0;margin-right: 6px;">
            BACK
            TO TOP
        </p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.33 5" width="10px" height="10px" class="arrow pointer "
                 style="transform: rotate(0deg);">
            <polyline points="1.17 4.25 4.17 1.25 7.17 4.25" fill="none" stroke="#0b0b0b" stroke-miterlimit="10"
                      stroke-width="1.5"></polyline>
        </svg>
    </div>

</div>