.text_area {
    min-height: 15vh;
}

.form-group label {
    color: #0b0b0b;
    font-size: 1vw;
}
.button{
    padding-bottom: 5vw;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    object-fit: contain;
}
.error{
    color: red;
    font-size: 1.4vw;
}
hr{
    border: 1px solid gray;
}
.input-group-text{
    background: #0b0b0b;
    color: white;
    min-width: 26vw;
}
.form-btn{
    border: 2px solid #212121;
    border-radius: 0;
    background-color: white;
    color: #0b0b0b;
}
.form-btn :hover{
    background-color: #0b0b0b;
    color: white;
}
.close{
    padding: 5px !important;
}
