<form class="LoginForm" id="LoginForm">
    <div class="Hero_HeroPane LoginForm_HeroPane">
        <div class="Hero_HeroPaneContent LoginForm_HeroPaneContent">
            <header class="LoginForm_Header">
                <h1 class="LoginForm_Title">Log In</h1>
                <p class="LoginForm_Subtitle">
                    You need to be logged in
                    to continue.
                </p><a onclick="showForm('LoginForm','RegisterForm')" class="LoginForm_CreateAccountButton"
                       href="#">Sign Up</a>
            </header>
            <main class="LoginForm_Main">
                <div class="MaterialInput_Content">
                    <label class="MaterialInput_Label">
                        <input id="username"
                               label="Email or Username" name="username" type="email" autocomplete=""
                               aria-label="Email or Username"
                               class="MaterialInput_Input" value=""><span class="MaterialInput_LabelCopy">Email or Username</span>
                    </label>
                </div>
                <div class="LoginForm_InputWrapper">
                    <div class="MaterialInput_Content">
                        <label class="MaterialInput_Label">
                            <input id="password"
                                   label="Password" name="password" type="password" autocomplete=""
                                   aria-label="Password"
                                   class="MaterialInput_Input" value=""><span class="MaterialInput_LabelCopy">Password</span>
                        </label>
                    </div><button type="button" class="LoginForm_ForgotPasswordButton">
                        <span>Forgot</span>
                    </button>
                </div>
            </main>
        </div>
        <div class="LoginForm_Error"></div>
        <nav class="Hero_HeroPaneLoginActions">
            <span class="Hero_Border">
                <button disabled="" type="submit"
                        class="GoatButton_Wrapper Hero_Button">
                    Log
                    In
                </button>
            </span>
        </nav>
    </div>
</form>