
@{
}
<form class="RegisterForm_Form" id="RegisterForm">
    <div class="Hero_HeroPane RegisterForm_HeroPane">
        <div class="Hero_HeroPaneContent RegisterForm_HeroPaneContent">
            <header class="RegisterForm_Header">
                <h1 class="RegisterForm_Title">Sign Up</h1>
            </header>
            <main class="RegisterForm_Main">
                <div class="MaterialInput_Content">
                    <label class="MaterialInput_Label">
                        <input autocomplete="name" id="full-name" label="Full Name" name="name" type="text"
                               aria-label="Full Name" class="MaterialInput_Input" value=""><span class="MaterialInput_LabelCopy">
                            Full
                            Name
                        </span>
                    </label>
                </div>
                <div class="MaterialInput_Content">
                    <label class="MaterialInput_Label">
                        <input id="email"
                               label="Email" name="username" type="email" autocomplete="" aria-label="Email"
                               class="MaterialInput_Input" value=""><span class="
                                            MaterialInput_LabelCopy">Email</span>
                    </label>
                </div>
                <div class="MaterialInput_Content">
                    <label class="MaterialInput_Label">
                        <input data-qa="register_password_input"
                               id="password" label="Password" name="password" type="password" autocomplete=""
                               aria-label="Password" class="MaterialInput_Input" value=""><span class="
                                            MaterialInput_LabelCopy">Password</span>
                    </label>
                </div>
                <div class="MaterialInput_Content">
                    <label class="MaterialInput_Label">
                        <input data-qa="register_confirm_password_input"
                               id="confirm-password" label="Confirm Password" name="confirmPassword" type="password"
                               autocomplete="" aria-label="Confirm Password" class="MaterialInput_Input"
                               value=""><span class="
                                            MaterialInput_LabelCopy">
                            Confirm
                            Password
                        </span>
                    </label>
                </div>
                <div class="RegisterForm_Terms">
                    <span>
                        <span>
                            By creating an account you
                            agree to our
                        </span> <a data-qa="terms_link" href="#">Terms</a> <span>and</span>
                        <a data-qa="privacy_link" href="#">Privacy</a>
                    </span>
                </div>
            </main>
        </div>
        <nav class="Hero_HeroPaneLoginActions">
            <a class="Hero_Link" href="#">
                <button onclick="showForm('RegisterForm','LoginForm')"
                        type="button" class="GoatButton_Wrapper Hero_Button">
                    Back
                </button>
            </a><span class="Hero_Border">
                <button disabled="" type="submit" class="GoatButton_Wrapper Hero_Button">
                    Sign
                    Up
                </button>
            </span>
        </nav>
    </div>
</form>