<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">

<body>

  <div class="PageLayout">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
      </div>
    </nav>
    <!-- body -->
    <footer>
      <div class="Footer_MoblieApp"></div>
      <div class="Footer_Newsletter"></div>
      <div class="Footer_Sitemap">
        <ul class="Footer_SitemapContent">
          <li class="Footer_SitemapSection">
            <span class="Footer_SitemapContentHeader">Buy</span>
            <ul class="Footer_SitemapSectionLinks">
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  Lorem, ipsum.
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  Lorem, ipsum.
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  Lorem, ipsum.
                </span>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="Footer_SitemapContent">
          <li class="Footer_SitemapSection">
            <span class="Footer_SitemapContentHeader">Buy</span>
            <ul class="Footer_SitemapSectionLinks">
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  Lorem, ipsum.
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  Lorem, ipsum.
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  Lorem, ipsum.
                </span>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="Footer_SitemapContent">
          <li class="Footer_SitemapSection">
            <span class="Footer_SitemapContentHeader">Buy</span>
            <ul class="Footer_SitemapSectionLinks">
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  Lorem, ipsum.
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  Lorem, ipsum.
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  Lorem, ipsum.
                </span>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="Footer_SitemapContent">
          <li class="Footer_SitemapSection">
            <span class="Footer_SitemapContentHeader">Buy</span>
            <ul class="Footer_SitemapSectionLinks">
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  Lorem, ipsum.
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  Lorem, ipsum.
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  Lorem, ipsum.
                </span>
              </li>
            </ul>
          </li>
        </ul>

      </div>
      <div class="Social_CopyRight"></div>
    </footer>
  </div>
</body>

</html>