<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/style.css">

<body>

  <div class="PageLayout">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
      </div>
    </nav>
    <!-- body -->
    <footer>
      <div class="Footer_MoblieApp"></div>
      <div class="Footer_Newsletter">
        <div class="Footer_NewsletterContent">
          <h1 class="Footer_NewsletterContentHeader">
            Sign up for early access to news, promotions, and more.
          </h1>
          <form action="" class="Footer_NewsletterForm">
            <div class="Footer_NewsletterInput">
              <div class="MaterialInput_Content">
                <label for="" class="MaterialInput_Label">
                  <input type="text" class="MaterialInput_Input" name="email" type="email" label="Enter Email Address"
                    aira-label="Enter email address">
                  <span class="MaterialInput_LabelCopy">
                    Enter Email Address
                  </span>
                </label>
              </div>
            </div>
            <button class="Footer_NewsletterSubmitButton nash-button secondary align-center-justify-center" type="submit"
              disabled>
              <span>Sign up</span>
            </button>
          </form>
          <div class="Footer_NewsletterDisclaimer">
            <span>By signing up, you confirm you are over 16 years of age and you want to receive NASH emails. Please
              see our</span>
            <a href="#" class="Footer_NewsletterDisclaimerLink">Terms & Conditions</a>
            <span>and</span>
            <a href="#" class="Footer_NewsletterDisclaimerLink">Privacy Policy</a>
            <span>for more details.</span>
          </div>
        </div>
      </div>
      <div class="Footer_Sitemap">
        <ul class="Footer_SitemapContent">
          <li class="Footer_SitemapSection">
            <span class="Footer_SitemapContentHeader">Buy</span>
            <ul class="Footer_SitemapSectionLinks">
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  <a href="#">Assurance of Authenticity</a>
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  <a><a href="#">Buyer Protection Guarantee</a></a>
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  <a href="#">Purchases & Returns</a>
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  <a href="#">Nash clean</a>
                </span>
              </li>
            </ul>
          </li>

          <li class="Footer_SitemapSection">
            <span class="Footer_SitemapContentHeader">Sell</span>
            <ul class="Footer_SitemapSectionLinks">
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  <a href="#">Selling on Nash</a>
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  <a href="#">Fee Policy</a>
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  <a href="#">Drop Off</a>
                </span>
              </li>
            </ul>
          </li>

          <li class="Footer_SitemapSection">
            <span class="Footer_SitemapContentHeader">Support</span>
            <ul class="Footer_SitemapSectionLinks">
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  <a href="#">Contact Us</a>
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  <a href="#">FAQS</a>
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  <a href="#">Privacy</a>
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  <a href="#">Terms</a>
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  <a href="#">Cookie settings</a>
                </span>
              </li>
            </ul>
          </li>

          <li class="Footer_SitemapSection">
            <span class="Footer_SitemapContentHeader">About</span>
            <ul class="Footer_SitemapSectionLinks">
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  <a href="#">Careers</a>
                </span>
              </li>
              <li class="Footer_SitemapSectionLink">
                <span class="AnimatedUnderlineText">
                  <a href="#">Nash app</a>
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="Footer_Social_CopyRight">
        <div class="Footer_SocialLinks">
          <a target="_blank" href="#" aria-label="facebook link">
            <svg class="Footer__FacebookIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-3 7h-1.924c-.615 0-1.076.252-1.076.889v1.111h3l-.238 3h-2.762v8h-3v-8h-2v-3h2v-1.923c0-2.022 1.064-3.077 3.461-3.077h2.539v3z"></path>
            </svg></a>
          <a target="_blank" href="#" aria-label="twitter link">
            <svg class="Footer__FacebookIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 57 612 498">
              <path d="M612 116.258a250.746 250.746 0 01-72.088 19.772c25.93-15.527 45.777-40.155 55.184-69.41-24.322 14.378-51.17 24.82-79.775 30.48-22.906-24.438-55.49-39.66-91.63-39.66-69.333 0-125.55 56.218-125.55 125.514 0 9.828 1.11 19.427 3.25 28.606-104.325-5.24-196.834-55.223-258.75-131.174-10.822 18.51-16.98 40.078-16.98 63.1 0 43.56 22.182 81.994 55.836 104.48A125.556 125.556 0 0124.63 232.21v1.568c0 60.806 43.29 111.554 100.692 123.104-10.517 2.83-21.607 4.398-33.08 4.398-8.107 0-15.947-.803-23.634-2.333 15.985 49.907 62.336 86.2 117.253 87.194-42.946 33.655-97.098 53.656-155.915 53.656-10.134 0-20.116-.612-29.944-1.72 55.568 35.68 121.537 56.484 192.44 56.484 230.947 0 357.187-191.29 357.187-357.188l-.42-16.253c24.661-17.595 46.001-39.7 62.791-64.863z"></path>
            </svg></a>
          <a href="#" aria-label="facebook-link">
            <svg class="Footer__FacebookIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 170 170">
              <path d="M122.406 0H46.654C20.93 0 0 20.93 0 46.655v75.752c0 25.726 20.93 46.655 46.654 46.655h75.752c25.727 0 46.656-20.93 46.656-46.655V46.655C169.062 20.93 148.132 0 122.406 0zm31.657 122.407c0 17.455-14.2 31.655-31.656 31.655H46.654C29.2 154.062 15 139.862 15 122.407V46.655C15 29.2 29.2 15 46.654 15h75.752c17.455 0 31.656 14.2 31.656 31.655v75.752z"></path>
              <path d="M84.53 40.97c-24.02 0-43.562 19.542-43.562 43.563 0 24.02 19.542 43.56 43.563 43.56 24.022 0 43.564-19.54 43.564-43.56 0-24.02-19.542-43.563-43.563-43.563zm0 72.123c-15.748 0-28.562-12.812-28.562-28.56 0-15.75 12.813-28.564 28.563-28.564 15.75 0 28.564 12.812 28.564 28.562 0 15.75-12.814 28.56-28.563 28.56zm45.39-84.843c-2.89 0-5.728 1.17-7.77 3.22a11.057 11.057 0 00-3.23 7.78c0 2.892 1.18 5.73 3.23 7.78 2.04 2.04 4.88 3.22 7.77 3.22 2.9 0 5.73-1.18 7.78-3.22 2.05-2.05 3.22-4.89 3.22-7.78 0-2.9-1.17-5.74-3.22-7.78-2.04-2.05-4.88-3.22-7.78-3.22z"></path>
            </svg>
          </a>
        </div>
        <div class="Footer_Copyright">
          <span>© 2021</span><span> Nash. All Rights Reserved</span>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>