<div class="Hero_Wrapper-kuugln LoginView_Hero">
    <div class="Hero_FirstPane">
        <div class="Hero_HeroPane">
            <div class="Hero_HeroPaneContent LoginView_HeroPaneContent"><img alt="Red Jordan 1s" src="/images/login.jpg"
                    class="LoginView_Jordans"></div>
        </div>
    </div>
    <div class="Hero_SecondPane">
        <form class="RegisterForm_Form">
            <div class="Hero_HeroPane RegisterForm_HeroPane">
                <div class="Hero_HeroPaneContent RegisterForm_HeroPaneContent">
                    <header class="RegisterForm_Header">
                        <h1 class="RegisterForm_Title">Sign Up</h1>
                    </header>
                    <main class="RegisterForm_Main-sc-1st1tkg-3 RYSkA">
                        <div class="MaterialInput_Content"><label class="MaterialInput_Label"><input autocomplete="name"
                                    id="full-name" label="Full Name" name="name" type="text" aria-label="Full Name"
                                    class="MaterialInput_Input
                                    value=""><span class="
                                    MaterialInput_LabelCopy">Full Name</span></label></div>
                        <div class="MaterialInput_Content"><label class="MaterialInput_Label"><input data-qa="register_username_input"
                                    id="email" label="Email" name="username" type="email" autocomplete="" aria-label="Email"
                                    class="MaterialInput_Input
                                    value=""><span class="
                                    MaterialInput_LabelCopy">Email</span></label></div>
                        <div class="MaterialInput_Content"><label class="MaterialInput_Label"><input data-qa="register_password_input"
                                    id="password" label="Password" name="password" type="password" autocomplete=""
                                    aria-label="Password" class="MaterialInput_Input
                                    value=""><span class="
                                    MaterialInput_LabelCopy">Password</span></label></div>
                        <div class="MaterialInput_Content"><label class="MaterialInput_Label"><input data-qa="register_confirm_password_input"
                                    id="confirm-password" label="Confirm Password" name="confirmPassword" type="password"
                                    autocomplete="" aria-label="Confirm Password" class="MaterialInput_Input value=""><span class="
                                    MaterialInput_LabelCopy">Confirm
                                Password</span></label></div>
                        <div class="RegisterForm_Terms"><span><span>By creating an account you
                                    agree to our</span> <a data-qa="terms_link" href="#">Terms</a> <span>and</span>
                                <a data-qa="privacy_link" href="#">Privacy</a></span></div>
                    </main>
                </div>
                <nav class="Hero_HeroPaneLoginActions"><a class="Hero_Link" href="#"><button type="button" class="GoatButton_Wrapper Hero_Button">Back</button></a><span
                        class="Hero_Border"><button disabled="" type="submit" class="GoatButton_Wrapper Hero_Button">Sign
                            Up</button></span></nav>
            </div>
        </form>
    </div>
</div>