<div class="Grid_CellWrapper col-4">
    <div class="Grid_CellContent"><a title="Acne Studios Rockaway 'White'" href="#">
            <div class="ProductTemplateGridCell_GridCell grid-cell" id="0">
                <div class="ProductTemplateGridCellMetaDataRow_Wrapper">
                    <div class="GridCellReleaseDateIndicator_Label"><span></span></div>
                </div><button class="ProductWantButton_Button">Want</button><img alt="Acne Studios Rockaway 'White'"
                    src="https://image.goat.com/750/attachments/product_template_pictures/images/028/589/374/original/BD0005.png.png"
                    sizes="200px" class="ProductTemplateGridCellImage_Image">
                <div class="ProductTemplateGridCell_DataContainer">
                    <h2 class="ProductTemplateGridCell_BaseText ProductTemplateGridCell_Name">Acne
                        Studios Rockaway 'White'</h2>
                    <div class="ProductTemplatePriceDisplay_Wrapper">
                        <p class="ProductTemplatePriceDisplay_Price"><span class="ProductTemplatePriceDisplay_LowestPrice">$480</span></p>
                    </div>
                </div>
            </div>
        </a></div>
</div>