<form novalidate="">
    <div class="Hero__HeroPane LoginForm__HeroPane">
        <div class="Hero__HeroPaneContent LoginForm__HeroPaneContent">
            <header class="LoginForm__Header">
                <h1 class="LoginForm__Title">Log In</h1>
                <p class="LoginForm__Subtitle">You need to be logged in
                    to continue.</p><a class="LoginForm__CreateAccountButton"
                    href="#">Sign Up</a>
            </header>
            <main class="LoginForm__Main">
                <div class="MaterialInput__Content"><label class="MaterialInput__Label"><input
                             id="username" label="Email or Username" name="username" type="email"
                            autocomplete="" aria-label="Email or Username" class="MaterialInput__Input"
                            value=""><span class="MaterialInput__LabelCopy">Email or Username</span></label></div>
                <div class="LoginForm__InputWrapper">
                    <div class="MaterialInput__Content"><label class="MaterialInput__Label"><input
                                 id="password" label="Password" name="password" type="password"
                                autocomplete="" aria-label="Password" class="MaterialInput__Input"
                                value=""><span class="MaterialInput__LabelCopy">Password</span></label></div><button
                        type="button" class="LoginForm__ForgotPasswordButton"><span
                           >Forgot</span></button>
                </div>
            </main>
        </div>
        <div class="LoginForm__Error"></div>
        <nav class="Hero__HeroPaneLoginActions"><span class="Hero__Border"><button
                    disabled="" type="submit"  class="GoatButton__Wrapper Hero__Button">Log
                    In</button></span></nav>
    </div>
</form>