@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model (Ecomerece_Web.Data.Product product, int rank)
<div class="card col-sm ProductCard" style="width: 18rem;">
    <a href="#">
        <div class="card-body Wraper">
            <div class="HeaderButton">
                <div class="ReleaseDate">
                    <span class="ProductTemplateGridCellMetaDataRow_Number">@Model.rank</span>
                </div>
            </div>

            <img alt="@Model.product.productNameID" src="/utility/@Model.product.wallpaper"
                 sizes="200px" class="ProductImage HomeHero_ProductImg">
            <div class="Detail">
                <h2 class="ProductName">@Model.product.productNameID</h2>
            </div>
        </div>
    </a>
</div>